/* 기본 CSS 리셋 파일 import */
@import 'reset.css';

/* 전체 페이지 기본 스타일 */
body {
    background-color: #fff;
}

/* 루트 컨테이너 스타일 */
.root-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* 헤더 스타일 시작 */
.header-container {
    background-color: rgba(3,37,65,1);
}

.header-wrap {
    max-width: 1400px;
    height: 64px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-left-wrap {
    display: flex;
}

.header-left-wrap ul {
    display: flex;
    margin-left: 16px;
}

.header-left-wrap li {
    padding: 8px;
    margin-right: 14px;
}

.header-nav-item {
    text-decoration: none;
    color: white;
    font-weight: 600;
}
/* 헤더 스타일 끝 */

/* 페이지 컨테이너 스타일 */
.page-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 32px 0;
}

/* 영화 목록 컨테이너 스타일 */
.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* 개별 영화 카드 스타일 */
.movie-container {
    width: 250px;
    margin: 16px;
    background-color: #373b69;
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.movie-container img {
  max-width: 100%;
  width: 300px;
  height: 400px;
  border-radius: 10px;
}

.movie-info {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.movie-info h4 {
    margin: 0;
}

.movie-info span {
    margin-left: 3px;
}

/* 영화 상세 페이지 스타일 */
.detail-page-container {
    display: flex;
}

.detail-page-container img {
    background-color: aliceblue;
    margin: 30px;
    border-radius: 3px;
}

.detail-page-container h1 {
    font-size: 30px;
    margin: 50px 0;
}

.detail-page-container p {
    margin: 0 50px 0 0;
}
